@model IEnumerable<Library.Models.Book>

@{
    ViewBag.Title = "Books";
}

<table class="table table-striped table-hover">
    <tr>
        <th class="center" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th class="center" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="center" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th class="center" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th class="center" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="center">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="center">
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td class="center">
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td class="center">
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td class="center">
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil Icon" })
                @*@Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "glyphicon glyphicon-list-alt Icon" })*@
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash Icon" })
            </td>
        </tr>
    }

</table>

<span style="font-size:20px">
    @Html.ActionLink(" ", "Create", "", new { @class = "glyphicon glyphicon-plus Icon" })
</span>
