@model Library.Models.User

@{
    int? isLogged = System.Web.HttpContext.Current.Session["LoggedIn"] as int?;
    if (isLogged.HasValue && (isLogged.Value == 1 || isLogged.Value == 2))
    {
        Response.Redirect("Index");
    }
}

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{

    <h4 class="center">Login</h4>
    <hr />

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="margin-bottom:10px">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @style = "margin-bottom:5px" })
            <div>
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @style = "width:300px" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin-bottom:10px">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @style = "margin-bottom:5px" })
            <div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @style = "width:300px", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <input type="submit" value="Login" class="btn btn-success" style="width:100%;margin-top:10px" />
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
