<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Reset.css")
    @Styles.Render("~/Content/FormCss.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/home.css")
</head>
<body>
    <div class="Wrapper">
        <header class="Header">
            <aside class="PageLogo"></aside>
            <nav class="mynavbar">
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("Books archive", "Index", "Books")
                @Html.ActionLink("Customers", "Index", "Customers")
                @Html.ActionLink("Loan records", "Index", "Loans")
                @Html.ActionLink("Branches", "Index", "Branches")
                @Html.ActionLink("Statistics", "Login", "Statistics")
            </nav>
        </header>
        <div class="myContainer body-content">
            @RenderBody()
        </div>
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?text=Hello%20world"
           data-size="large">
            Tweet
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <footer>
            <p style="margin-top:15px"> @DateTime.Now.Year - Chen's Library</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
