<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Reset.css")
    @Styles.Render("~/Content/FormCss.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/home.css")
    @Styles.Render("~/Content/fbcss.css")
</head>
<body>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '927435187404698',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.1'
            });

            FB.AppEvents.logPageView();
            var at = "EAANLf1Tlv5oBANHpjDVfr3miYfk1E3HB4uu0MHGqwTeOPSVYTLTZBEm7aHWGFrYbHpe16qJFc9swDmuQZAZBmkQbXYLEM6fCosbMbhYnx8XUuOGh7ueFZBVLyLvR7VeS6Pzbn9D4qFcmBU4sehT7AhCe79xNDtLyjBXrj2SCHAZDZD";
            var postDefer = $.Deferred();

            FB.api("/1955781474695191/feed?access_token=" + at,
                function (response) {
                    if (response && !response.error) {
                        window.postData = response.data;

                        for (var i = 0; i < response.data.length; i++) {
                            $("#FBPosts").append("<div class='FBPost' id='" + response.data[i].id + "'>" + response.data[i].message + "<div class='CommentsSection'></div></div>");

                            FB.api("/" + response.data[i].id + "/comments?access_token=" + at,
                                function (res) {
                                    if (res.data.length) {
                                        for (var j = 0; j < res.data.length; j++) {
                                            var id = "#" + res.data[j].from.id + "_" + res.data[j].id.split("_")[0] + " .CommentsSection";
                                            var fromSection = "<div class='CommentAuthor'>" + res.data[j].from.name + "</div>";
                                            var messageSection = "<div class='CommentMessage'>" + res.data[j].message + "</div>";
                                            var Comment = "<div class='SingleComment'>" + fromSection + messageSection + "</div>";

                                            $(id).append(Comment);
                                        }
                                    }
                                });

                        }

                        postDefer.resolve();
                    }
                });

            $.when(postDefer).then(function (res) {
                for (var i = 0; i < window.postData.length; i++) {
                }
            });
        };


        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="Wrapper">
        <header class="Header">
            <aside class="PageLogo"></aside>
            <nav class="mynavbar">
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("Books archive", "Index", "Books")
                @Html.ActionLink("Customers", "Index", "Customers")
                @Html.ActionLink("Loan records", "Index", "Loans")
                @Html.ActionLink("Branches", "Index", "Branches")
                @Html.ActionLink("Statistics", "Login", "Statistics")
            </nav>
        </header>
        <div class="myContainer body-content">
            @RenderBody()
        </div>

        <footer>
            <p style="margin-top:15px"> @DateTime.Now.Year - Chen's Library</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
