@model Library.Models.Loan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.PersonalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.PersonalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
